* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  background-image: url(https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: lightgray;
}


.container{
  width: 80vw;
  height: 90vh;
  background-color: rgba(238, 130, 238, 0.449);
  backdrop-filter: blur(19px) saturate(160%);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.155);
  display: flex;
}